@font-face{
    font-family:"Roboto";
    src:'../fonts/roboto/Roboto-Regular.ttf';
}

@font-face{
    font-family: "Montserrat";
    src:'../fonts/Montserrat/Montserrat-Regular.ttf';
}

@font-face{
    font-family: "Edo";
    src:'..fonts/Edo/Edo.ttf';
}

@font-face{
    font-family: "Poiret One";
    src:'..fonts/Poiret/PoiretOne-Regular.ttf';
}
